<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Test Application Page</title>
		<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Test Application</h1>
        <div>
            <p>Welcome to WiserTogether test Backbone application.</p>
        </div>
		<h3>Condition List</h3>
		<ul id="result" class="clearfix"></ul>
		<script type="text/template" id="tmplt_condition_item">
		<li>
			<a href="#condition/<%= item_id %>"><%= display_name %></a>
		</li>
	    </script>
		
		<script type="text/template" id="tmplt_condition_detail">
			<h3 class="item_detail"><%= display_name %></h3>
			<div>
				<li>		
					<label><%= display_name %></label>
					<label><%= description %></label>
				</li>
			</div>
	    </script>
		
		<script data-main="js/main" src="js/libs/require.js"></script>
    </body>
</html>
